# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Inherited from Vite
node_modules
.DS_Store
dist
dist-ssr
*.local

# IDEs and editors
.exrc
.idea
.vscode
!.vscode/extensions.json

# Coverage report generated using Jest + Istanbul
coverage

