@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/rubik-regular.woff2") format("woff2");
  font-display: block;
}


.touch-cursor {
  cursor: url('/images/touch-cursor.png') 32 32, auto;
}